.App {
  text-align: center;
}
html {
    cursor: url('./Webp.net-resizeimage.png'), default;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.flicking {*/
/*  width: 500px;*/
/*  height: 200px;*/
/*  margin: 0px auto;*/
/*  border-radius: 5px;*/
/*}*/
/*.panel {*/
/*  position: relative;*/
/*  !*width: auto;*!*/
/*  !*height: auto;*!*/
/*  !*background: #f55;*!*/
/*  border-radius: 5px;*/
/*  overflow: hidden;*/
/*}*/
/*.panel:after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background: rgba(0, 0, 0, 0.1);*/
/*}*/
/*.panel img {*/
/*  top: -100%;*/
/*  bottom: -100%;*/
/*  min-width: 100%;*/
/*  margin: auto;*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  transform: translate(-50%);*/
/*}*/


/*.plugins .flicking {*/
/*  width: 500px;*/
/*  height: 200px;*/
/*  margin: 0px auto;*/
/*  background: #eee;*/
/*  background: rgba(55, 55, 55 0.1);*/
/*  border-radius: 5px;*/
/*}*/
.plugins .flicking .panel {
  /*position: relative;*/
  /*display: block;*/
  border-radius: 5px;
  width: 640px;
  margin-top: 5px;
  /*background: #f55;*/
  height: 425px;
  text-align: center;
  /*line-height: 200px;*/
  overflow: hidden;
}
/*.plugins .panel:after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  top: 0;*/
/*  left: 0;*/
/*  background: rgba(0, 0, 0, 0.1);*/
/*}*/
/*.plugins .panel img {*/
/*  top: -100%;*/
/*  bottom: -100%;*/
/*  margin: auto;*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  transform: translate(-50%);*/
/*}*/
